*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Vinci Sans' Expanded Bold x,sans-serif;
}
span{
    color: #184A8B;
}
/* navbar part start from here */
.navbar{
    padding-top: 20px !important;
    padding-bottom: 30px !important;
}
.navbar img{
    width: 13rem;
    height: 100%;
}
.navbar li a{
    font-weight: 700;
    font-size: 1.1rem;
    color: #184A8B;
    padding: 20px 10px;
    transition: all 0.5s;
}

.navbar li a:hover{
    background-color: rgba(211, 211, 211, 0.216);
    border-radius: 10px;
    padding: 20px 10px;
    color: #184A8B;
}
/* navbar part End from here */


/* carousel part start from heree */
#carousel{
    padding: 0;
    width: 100%;
    height:84vh;
    background-color: #79CAF1;
}
.bg-blue{
    background-color:#79CAF1 ;
    height:84vh;
}
.bg-green{
    background-color: #99C357;
    height:84vh;
}
.bg-pink{
    background-color: #AE9CC6;
    height:84vh;
}
#carousel .content , .content-img{
    width: 100%;
    height: 500px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
#carousel .content h1{
    font-weight: 700;
    font-size: 50px;
}
#carousel img{
    width: 600px;
    height: 400px;
    object-fit: cover;
}
/* carousel part end from heree */

/* newsroom part start from here */
#newsroom .card{
    border: none;
    padding: 10px;
    height: 400px;
    transition: all 0.5s;
}
#newsroom .card:hover{
    background-color: rgba(211, 211, 211, 0.503);
}
#newsroom .card:hover .card-img-top{
    transform: scale(1.1) !important;
    border-radius: 20px;
}
#newsroom .card:hover h4{
    text-decoration: underline;
}
#newsroom .card:hover .news-btn{
background-color: #184A8B !important;
}
#newsroom .card:hover i{
    color: #fff !important;
}
#newsroom .card a:hover{
    text-decoration: underline;
}
#newsroom .card-img-top{
    transition: all 0.5s;
    border-radius: 15px;
}
#newsroom h4{
    font-size: 20px;
    transition: all 0.5s;
}
#newsroom button{
    transition: all 0.5s;
}
#newsroom .news-letter a{
    border: 1px solid black;
    color: black;
    font-weight: 600;
    padding: 0px 8px;
    padding-bottom: 3px !important;
    border-radius: 9999px;
    text-decoration: none;
    margin-right: 10px;
}
#newsroom .card-body{
    display: flex;
    justify-content: space-around;
    align-items: end;
    border-bottom: 3px solid rgba(128, 128, 128, 0.333);
}
#newsroom .card-body button{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50% !important;
}
#newsroom .news-btnn{
    background-color: #164582;
    margin:30px 0px;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 9999px;
    font-weight: 700;
}
#newsroom .news-btnn i{
    transition: all 0.5s
}
#newsroom .news-btnn:hover i{
transform: translateX(7px);
}
/* newsroom part end from here */

/* maps part start from here */
#maps{
    width: 100%;
    height: 100%;
    background-color: #164582;
}
#maps img{
    width: 100%;
    height: 80vh;
}
#maps .map-title h1{
    font-size: 50px;
    text-align: end !important;
    color: #fff;
    margin-top: 100px !important;
}
#maps .map-body h5{
    text-align: end;
    color: #fff;
    margin-top: 30px;
    padding-left: 200px;
}
#maps .map-btn{
    padding: 13px 25px;
    border: none;
    border-radius: 9999px;
    font-weight: 700;
    margin-left: 200px;
    margin-top: 30px;
}
#maps .map-btn i{
    transition: all 0.5s;
}
#maps .map-btn:hover i{
    transform: translateX(7px);
}
/* maps part end from here */



/* welcome part start from here */

#welcome-guide h1{
    font-weight: 700;
}
#welcome-guide h6{
    margin-top: 30px;
}
#welcome-guide .welcome-btn{
    padding: 15px 25px;
    border: none;
    background-color: #164582;
    color: #fff;
    border-radius: 9999px;
    margin-left: 125px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}

#welcome-guide .welcome-btn i{
    transition: all 0.5s;
}
#welcome-guide .welcome-btn:hover i{
    transform: translateX(7px);
}
/* welcome part end from here */


/* job offer part start from here */

#job-offer{
    width: 100%;
    height: 45vh;
    background-color: #79CAF1;
    display:flex ;
    justify-content: center;
    align-items: center;
}
#job-offer h1{
    font-weight: 700;
    margin-bottom: 30px;
}
#job-offer a{
    text-decoration: none;
}
#job-offer .job-btn:hover i{ 
    transform: translateX(7px) !important;
}
#job-offer .job-btn i{
    transition: all 0.5s;
}
#job-offer .job-btn{
    padding: 15px 25px;
    background-color: #fff;
    border: none;
    border-radius: 9999px;
    font-weight: 700;
}
/* job offer part end from here */


/* figure part start from here */
#figure{
    width: 100%;
    height: 100%;
}
#figure h1{
    font-size: 60px !important;
    margin-bottom: 30px;
    font-weight: 650;
}
.figure-data{
    border-bottom: 3px solid lightgray;
    margin-bottom: 30px;
}
/* figure part end from here */

/* footer part start from here */
#footer{
    width: 100%;
    height: 100%;
    background-color: #184A8B;
}#footer .social-links a , .contact a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    line-height: 1.8;
}
#footer .about-us p{
    line-height: 1.8;
}
.underline{
    width: 100%;
    height: 1px;
    background-color: #79c9f18a;
    margin-top: 30px;
}
.copyrights{
    display: flex;
    gap: 20px;
}
.copyrights a{
    text-decoration: none;
    color: #fff;
}
/* footer part end from here */